<template>
  <div class="weather-info">
    <p class="city-name">{{weatherInfo.name}}</p>
    <time class="current-datetime">{{datetime}}</time>
    <p class="weather-sky">{{weatherInfo.weather[0].description}}</p>
    <p class="temperature">{{parseInt(weatherInfo.main.temp)}}&deg;</p>
    <span class="line">Details</span>
    <div class="weather-details">
      <ul>
        <li>
          <i class="wi wi-barometer"></i>
          Pressure
          <span>{{weatherInfo.main.pressure}}hPa</span>
        </li>
        <li>
          <i class="wi wi-humidity"></i>
          Humidity
          <span>{{weatherInfo.main.humidity}}%</span>
        </li>
        <li>
          <i class="wi wi-windy"></i>
          Wind
          <span>{{weatherInfo.wind.speed}}m/s</span>
        </li>
        <li>
          <i class="wi wi-cloudy"></i>
          Cloudiness
          <span>{{weatherInfo.clouds.all}}%</span>
        </li>
        <li>
          <i class="wi wi-sunrise"></i>
          Sunrise
          <span>{{weatherInfo.sys.sunrise}}</span>
        </li>
        <li>
          <i class="wi wi-sunset"></i>
          Sunset
          <span>{{weatherInfo.sys.sunset}}</span>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
    name:'Info',
    props:[
      'weatherInfo',
      'datetime'
    ]
}
</script>
<style>

</style>
