<template>
  <form>
    <div class="search-container">
        <label
            for="search-field"
            :class="{'active':(isActive===true)}">
            Search
        </label>
        <input
            type="search"
            id="search-field"
            @focus="onFocus"
            @blur="onBlur"
            @input="setData"
            v-model="inputValue"
        >
    </div>
    <p class="error-message">{{message}}</p>
    <bounce-loader :loading="loading" color="#ffffff" class="bounce-loader" />
    <fade-transition :duration="250">
      <Info
        :datetime="datetime"
        :weatherInfo="weather"
        v-if="seen" />
    </fade-transition>
  </form>
</template>
<script>
  import axios from 'axios'
  import debounce from 'lodash.debounce'
  import { FadeTransition } from 'vue2-transitions'
  import Info from '@/components/Info.vue'
  import BounceLoader from 'vue-spinner/src/BounceLoader'
  export default {
    components:{
      FadeTransition,
      Info,
      BounceLoader
    },
    data(){
      return {
        apiKey:'f8a780a303bc77fbee2ad33684be0b81',
        isActive:false,
        seen:false,
        loading:false,
        inputValue:'',
        message:'',
        weather:{}
      }
    },
    methods:{
      onFocus(){
          const vm = this;
          !vm.inputValue.length ? vm.isActive = true : null
      },
      onBlur(){
          const vm = this;
          vm.inputValue.length ? vm.isActive = true : vm.isActive = false
      },
      setData:debounce(function(){
        const vm = this;
        vm.getData(`https://api.openweathermap.org/data/2.5/weather?q=${vm.inputValue}&appid=${vm.apiKey}&units=metric`);
      },500),
      getData(q){
        const vm = this;
        axios.get(q)
        .then(resp=>{
          const currentTime = new Date().toLocaleTimeString('en-us',{hour:'numeric',minute:'numeric'});
          const currentDate = new Date().toLocaleDateString('en-us',{weekday:'short'});
          vm.weather = resp.data;
          vm.datetime = `${currentDate}, ${currentTime}`;
          vm.weather.sys.sunrise = new Date(vm.weather.sys.sunrise*1000).toLocaleTimeString('en-us',{hour:'numeric',minute:'numeric'});
          vm.weather.sys.sunset = new Date(vm.weather.sys.sunset*1000).toLocaleTimeString('en-us',{hour:'numeric',minute:'numeric'});
        }).catch(err =>{
          vm.seen = false;
          err && vm.inputValue ? vm.message = 'City not found' : vm.message = 'Enter the city name'
        })
      }
    },
    watch:{
      weather:function(){
        this.loading = false;
        this.message = '';
        this.seen = true;
      }
    },
    created(){
      const vm = this;
      this.loading = true;
      navigator.geolocation.getCurrentPosition(function(position){
        const lat = position.coords.latitude;
        const lon = position.coords.longitude;
        vm.getData(`https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${vm.apiKey}&units=metric`);
      });
    }
  }
</script>
<style lang="scss">
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

  html,body{
    font-family:'Lato', sans-serif;
    font-size:16px;
    background: -moz-linear-gradient(-45deg,  #071d4e 15%, #9561a1 100%);
    background: -webkit-linear-gradient(-45deg,  #071d4e 15%,#9561a1 100%);
    background: linear-gradient(135deg,  #071d4e 15%,#9561a1 100%);
    color:#ffffff;
    padding:10px;
    height:100%;
  }

  form{
    height:100%;
    width:100%;
    position:relative;
  }

  .search-container{
    position:relative;
    width:100%;
    height:48px;
    font-size:16px;
    font-family:'Roboto', sans-serif;
    box-shadow:3px 3px 8px 0 rgba(0,0,0,.40);

    &::after{
      font-family:'Material Icons';
      content:'\e8b6';
      position:absolute;
      top:50%;
      right:8px;
      font-size:24px;
      color:#272727;
      transform:translateY(-50%);
      z-index:2;
    }

    label{
      position:absolute;
      left:0;
      color:#505050;
      line-height:48px;
      cursor:text;
      padding:0 10px;
      transition:0.1s;
      z-index:3;
      &.active{
        line-height:24px;
        font-size:0.8rem;
        color:#72338d;
      }
    }

    input{
      border-radius:4px;
      font-size:0.9rem;
      height:100%;
      padding:10px 40px 0 8px;
      border:0;
      transition:0.3s;
      border:solid 2px #ffffff;
      &:focus{
        border:solid 2px #b677d1;
      }
    }

    label, input{
      width:100%;
      letter-spacing:.5px;
    }
  }

  .city-name{
    font-size:3rem;
    text-align: center;
    margin:15px 0 3px 0;
  }

  .current-datetime{
    display:block;
    text-align: center;
    font-weight:300;
  }

  .weather-sky{
    margin:30px 0 0 0;
    font-size:1.8rem;
    i{
      margin:0 10px 0 0;
    }
  }

  .temperature{
    font-size:5rem;
  }

  .weather-details{
    ul{
      list-style:none;
      display:grid;
      grid-template-columns:repeat(3,1fr);
      grid-auto-rows:90px;
      grid-gap:15px;
    }
    li{
      background-color:red;
      display:flex;
      flex-flow:column wrap;
      justify-content:space-between;
      align-content: center;
      align-items: center;
      padding:8px 0;
      border-radius:3px;
      background-color:rgba(255,255,255,.15);
      i{
        font-size:1.3rem;
      }
      span{
        font-weight:300;
      }
    }
  }

  .line{
    display:block;
    margin:10px 0 25px 0;
    width:100%;
    position:relative;
    overflow: hidden;
    text-transform:uppercase;
    font-family:'Roboto', sans-serif;
    font-size:0.9rem;
    &::after{
      content:'';
      width:100%;
      height:2px;
      background-color:rgba(255,255,255,.45);
      position:absolute;
      top:50%;
      transform: translateY(-50%);
      margin:0 0 0 10px;
    }
  }

  .error-message{
    font-size:2.5rem;
    text-align: center;
    margin:20px 0 0 0;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100%;
  }

  .bounce-loader{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  @media(min-width:480px){
    body{
      display:flex;
      justify-content:center;
      align-items:center;
    }
    form{
      background-color:rgba(255, 255, 255, 0.1);
      padding:30px 20px;
      border-radius:8px;
    }
    .weather-details ul{
      grid-template-columns:repeat(3,120px);
      justify-content:space-evenly;
      grid-row-gap:20px;
    }
  }

  @media(min-width:620px){
    form{
      height:615px;
      width:550px;
    }
  }
</style>
